.container
  %h1 Inschrijvingen

  %table.table
    %thead
      %tr
        %th Leerling
        %th Geboortedatum
        %th Ouder
        %th Mobiel
        %th Email

    %tbody
      - @students.each do |student|
        %tr
          %td= student.naam
          %td= student.geboortedatum
          %td= student.caretaker_1_name
          %td= student.caretaker_1_mobiel
          %td= student.caretaker_1_email
          %td= link_to 'Show', student
          - if current_user.admin?
            %td= link_to 'Edit', edit_student_path(student)
            %td= link_to 'Destroy', student, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'Inschrijving Toevoegen', new_student_path
