.container
  %p#notice= notice

  %p
    %b Naam:
    = @student.naam
  %p
    %b Achternaam:
    = @student.achternaam
  %p
    %b Adres:
    = @student.adres
  %p
    %b Postcode:
    = @student.postcode
  %p
    %b Plaats:
    = @student.plaats
  %p
    %b Telefoon:
    = @student.telefoon
  %p
    %b Mobiel:
    = @student.mobiel
  %p
    %b Email:
    = @student.email
  %p
    %b Geboortedatum:
    = @student.geboortedatum

  = link_to 'Edit', edit_student_path(@student)
  \|
  = link_to 'Back', students_path
